@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    @apply bg-white text-gray-900;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  html {
    scroll-behavior: smooth;
  }
}


img {
  max-width: 100%;
  height: auto;
  display: block;
}/* for image styling */


.next-image-container {
  position: relative;
  width: 100%;
  height: 100%;
}/* Next.js Image container */


.grid {
  display: grid;
}


[style*="padding-bottom"] {
  position: relative;
  width: 100%;
}/* to aspect ratio helper */


button {
  cursor: pointer;
  border: none;
  background: none;
  font-family: inherit;
}


a {
  color: inherit;
  text-decoration: none;
}

*:focus-visible {
  outline: 2px solid #000;
  outline-offset: 2px;
}
/* we focus visible for accessibility */