@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }

  body {
    @apply bg-white text-gray-900;
  }
}

html {
  scroll-behavior: smooth;
}
